* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  background-color: #1a202c;

  color: #f9f9f9;
}

footer,
header,
nav {
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1.45rem;
  text-rendering: optimizeLegibility;
}

h2 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1.62671rem;
  text-rendering: optimizeLegibility;
  line-height: 1.1;

  color: #ffeb3bed;
}

h3 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 1.38316rem;

  color: #ffeb3bed;
}

a {
  text-decoration: none;
  color: #81e6d9;
  transition: all 0.2s ease-in-out;
}
ul {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
}

ol {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
}

p {
  margin-bottom: 1.45rem;
}

img {
  max-width: 100%;
  margin-bottom: 1.45rem;
  border-style: none;
}

pre {
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  background: hsla(0, 0%, 0%, 0.04);
  line-height: 1.42;
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
  color: hsla(0, 0%, 0%, 0.8);

  display: inline-block;
}

b,
strong {
  font-weight: bold;
  color: #ffeb3bed;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
  background-color: hsla(0, 0%, 0%, 0.04);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 3px;
  color: #f9f9f9;
}

pre code {
  background: none;
  line-height: 1.42;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-bottom: 1.45rem;
  background: #1b2f34;
  border-left: 5px solid #ff335f;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  color: #9ae6b4;
}

table {
  margin-bottom: 1.45rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 992px) {
  body {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #d53a9d, #743ad5);
  }
}

a:hover {
  color: #e91e63;
}

svg {
  transition: all 0.2s ease-in-out;
}

svg:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(235deg)
    brightness(104%) contrast(97%);
}

/* random */

code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  margin-bottom: 1.45rem;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight::-webkit-scrollbar {
  width: 1em;
  height: 0.2em;
}

.gatsby-highlight::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gatsby-highlight::-webkit-scrollbar-thumb {
  background-color: #646464;
  outline: 1px solid slategrey;
}
